.about-us-content {
    display: flex;
    justify-content: space-between;
}

.about-us-image-container {
    width: 45%;
    line-height: 0;
    border: 0.5rem solid var(--green);
}

.about-us-image {
    width: 100%;

    position: relative;
    top: 1.5rem;
    left: 1.5rem;
}

.about-us-text-container {
    margin-top: 1.5rem;
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    color: var(--dark-green);
}

.about-us-title {
    font-size: 1.75rem;
    letter-spacing: 0.25rem;
}

.about-us-description {
    font-size: 1rem;
    font-weight: 400;

    opacity: 0.8;
}

.read-more-button {
    width: fit-content;
    color: var(--white);
    background-color: var(--green);
    outline: none;
    border: none;

    text-transform: uppercase;
    letter-spacing: 0.2rem;
    padding: 0.65rem 0.9rem;
    cursor: pointer;
}

@media screen and (max-width: 1024px) {
    .about-us-title {
        font-size: 1.5rem;
        letter-spacing: 0.2rem;
    }
    
    .about-us-description {
        font-size: 0.9rem;
    }

    .read-more-button {
        letter-spacing: 0.2rem;
        padding: 0.6rem 0.85rem;
        cursor: pointer;
    }
}
