.navbar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    background-color: white;

    padding: 1rem 10rem;
}

.navbar-contents {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-section h1 {
    font-size: 1.75rem;
    letter-spacing: 0.25rem;
    color: var(--dark-green);
    cursor: pointer;
}

.logo-section h1 > span {
    color: var(--green);
}

.nav-links {
    display: flex;
    gap: 0.8rem;
}

.nav-link {
    color: var(--gray);
    opacity: 0.9;
    letter-spacing: 0.25rem;
    text-decoration: none;
}

.socials-section {
    display: flex;
    gap: 0.8rem;
}

.fa-icon, .fa-bars {
    color: var(--green);
    font-size: 1.25rem;
}

.scrollbar-container {
    display: none;
}

.fa-icon:hover, .fa-bars:hover {
    cursor: pointer;
}

@media screen and (max-width: 1024px) {
    .navbar {
        padding: 1rem 4rem;
    }

    .logo-section h1 {
        font-size: 1.5rem;
        letter-spacing: 0.2rem;
    }

    .nav-links {
        gap: 0.7rem;
    }
    
    .nav-link {
        letter-spacing: 0.2rem;
        font-size: 0.9rem;
    }
}

@media screen and (max-width: 768px) {
    .navbar {
        padding: 1rem 2rem;
    }
}

@media screen and (max-width: 426px) {
    .nav-links, .socials-section {
        display: none;
    }

    .scrollbar-container {
        display: flex;
    }
}
