.service {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.service-icon-container {
    line-height: 0;
}

.fa-service-icon {
    color: var(--dark-green);
    font-size: 2rem;

    background-color: var(--green);
    padding: 1rem;
}

.service-text {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    color: var(--dark-green);
}

.service-title {
    font-size: 1rem;
    letter-spacing: 0.25rem;
}

.service-description {
    font-size: 1rem;
    font-weight: 400;
    opacity: 0.8;
}

@media screen and (max-width: 1024px) {
    .service {
        gap: 0.75rem;
    }

    .fa-service-icon {
        font-size: 1.65rem;
        padding: 0.8rem;
    }

    .service-title {
        font-size: 0.85rem;
        letter-spacing: 0.2rem;
    }
    
    .service-description {
        font-size: 0.75rem;
    }
}
