.service {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.fa-service-icon {
    color: var(--dark-green);
    font-size: 2rem;

    background-color: var(--green);
    padding: 1rem;
}

.service-text {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    color: var(--dark-green);
}

.service-title {
    font-size: 1rem;
    letter-spacing: 0.25rem;
}

.service-description {
    font-size: 1rem;
    font-weight: 400;
    opacity: 0.8;
}
