.services {
    background-color: #F0F0F0;
}

.services-container {
    display: flex;
    gap: 2rem;
    justify-content: space-between;
}

@media screen and (max-width: 1024px) {
    .services-container {
        gap: 1.25rem;
    }
}

@media screen and (max-width: 426px) {
    .services-container {
        flex-direction: column;
    }
}
